body {
    margin: 0;
    padding: 0;
     min-height: 100vh;
    background-color: #c0bebe;
}
* {
  box-sizing: border-box;
}
.main-container {
   margin: 60px;
}
.Home-container {
    display: flex;
    align-items: center;
}
.homeInfo {
    width:60%;
}

.info-txt h2 {
  font-size: clamp(3.4rem, 4vw + 1rem, 5.2rem);
  font-family: "Bebas Neue", sans-serif;
  line-height: 1;
}
.info-txt p {
  font-size: 1.8rem;
  font-weight: 500;
}
.explore-clothing_btn {
    border: none;
    border-radius: 8px;
    background-color: black;
    color: white;
    margin-top: 24px;
    padding: 10px 14px;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}
.homePhotoshot {
    width: 40%;
}
.photoshoot-container {
    display: flex;
    align-items: center;
}
.model_photo_wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.model_photo_boy_1 {
    border: none;
    border-radius: 40%;
    width: 30%;
    height: 30%;
}
.model_photo_boy_2 {
    border: none;
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 40%;
    width: 30%;
    height: 30%;
    padding-top: 20px;
}
.model_photo_girl {
  border: none;
    border-top-left-radius: 40%;
    border-top-right-radius: 40%;
    width: 100%;
    height: 100%;
    /* padding-top: 20px; */
    filter: grayscale(100%);
    transition: 0.2s;
}
@media (max-width: 768px) {
    .Home-container {
        flex-direction: column;
    }

    .HomeInfo,
    .HomePhotoShoot {
        width: 100%;
    }
}