.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  font-size: 20px;
}
.nav-link-container {
  display: flex;
  gap: 42px;
  list-style: none;
}
.cart-icon {
  cursor: pointer;
  display: block;
  position: relative;
}
.total-card-quantity {
  position: absolute;
  left: 100%;
  top: 0%;
  border-radius: 50%;
  transform: translate(-75%, -25%);
  font-size: 10px;
  height: 14px;
  width: 14px;
  text-align: center;
  background-color: black;
  color: white;
}
.nav-link {
    cursor: pointer;
}
